{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/your-health/vaccines-and-health-checks" %}

{% set pageHeading = "History of vaccines and health checks" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
        {{ pageHeading }}
      </h1>
      <p>
        Vaccines and health checks you've had.
      </p>

      {% if vaccines.length %}
        <h2 class="nhsuk-heading-l">Vaccines</h2>
        {% set rows = [] %}
        {% for item in vaccines %}
          {% set rows = (rows.push({
            key: { text: item.name },
            value: { text: item.lastDate | formatDate | nbsp }
          }), rows) %}
        {% endfor %}
        {{ summaryList({
          classes: "nhsuk-u-margin-bottom-6",
          rows: rows
        }) }}
      {% endif %}

      {% if screenings.length %}
        <h2 class="nhsuk-heading-l">Health checks</h2>
        {% set rows = [] %}
        {% for item in screenings %}
          {% set rows = (rows.push({
            key: { text: item.name },
            value: { text: item.lastDate | formatDate | nbsp }
          }), rows) %}
        {% endfor %}
        {{ summaryList({
          classes: "nhsuk-u-margin-bottom-6",
          rows: rows
        }) }}
      {% endif %}

      {% if not vaccines.length and not screenings.length %}
        <p>You have no history to show.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
