{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    "text": "Back",
    "classes": "nhsuk-u-margin-bottom-0",
    href: "/pages/create-persona/sex"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form method="post" action="/pages/create-persona/conditions" novalidate="novalidate">

        {% set conditionItems = [
          {
            value: "diabetes",
            text: "Diabetes",
            checked: checked("create-persona-conditions", "diabetes")
          },
          {
            value: "smoker",
            text: "Current smoker",
            checked: checked("create-persona-conditions", "smoker")
          },
          {
            value: "exSmoker",
            text: "Ex-smoker",
            checked: checked("create-persona-conditions", "exSmoker")
          },
          {
            value: "clinicalRiskGroup",
            text: "Long-term health condition",
            checked: checked("create-persona-conditions", "clinicalRiskGroup")
          },
          {
            value: "carer",
            text: "Unpaid carer",
            checked: checked("create-persona-conditions", "carer")
          },
          {
            value: "immunosuppressed",
            text: "Weakened immune system",
            checked: checked("create-persona-conditions", "immunosuppressed")
          },
          {
            value: "careHomeResident",
            text: "Care home resident",
            checked: checked("create-persona-conditions", "careHomeResident")
          }
        ] %}

        {% if sex !== "male" %}
          {% set conditionItems = (conditionItems.push({
            value: "pregnant",
            text: "Pregnant",
            checked: checked("create-persona-conditions", "pregnant")
          }), conditionItems) %}
        {% endif %}

        {{ checkboxes({
          idPrefix: "create-persona-conditions",
          name: "create-persona-conditions",
          fieldset: {
            legend: {
              text: "Conditions",
              classes: "nhsuk-fieldset__legend--xl",
              isPageHeading: true
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: conditionItems
        }) }}

        {{ button({
          text: "Continue",
          classes: "nhsapp-button"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
