{% extends 'layout.html' %}

{% block pageTitle %}
  NHS App prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>NHS App prototype</h1>
      <p class="nhsuk-lede-text">
        A prototype to test new design components and patterns for the NHS App.
      </p>

      <h2>Prototype settings</h2>
      <p><a href="/data-settings">Use this to choose a persona and change the prototype settings</a>.</p>

    </div>
  </div>
{% endblock %}
